/* App.css */
nav {
  background-color: #1a1a1a;
  padding: 10px;
  margin: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

nav ul li:hover {
  background-color: #ff5f6d;
}

nav ul li.active {
  background-color: #ff5f6d;
}

nav ul li:not(.active):hover {
  background-color: #ffc371;
}